<div class="container">
    <div class="box-1">
        <h1>Hello world</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic molestias, possimus sint omnis fuga earum ratione? Sed deleniti numquam eaque quam necessitatibus dolorem ullam ad, modi odio fugit at dolorum quia nemo voluptate, labore nulla obcaecati.
            Voluptatibus, atque! Saepe commodi eius fugiat mollitia optio numquam magnam quo repellat maxime, quas rerum quam veritatis aspernatur rem, tenetur quisquam aut natus? Molestias magni perferendis accusamus nihil amet eum eligendi dicta culpa
            molestiae optio excepturi rerum quas eius natus, illum alias repudiandae temporibus quae, harum enim eveniet provident facere. Dolorem consequuntur ea aperiam quibusdam perspiciatis neque sequi vel rem quia sunt. Iste, consequuntur?</p>
    </div>

    <div class="box-2">
        <h1>Goodbye world</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, magnam fuga quasi ipsum officia incidunt reprehenderit quidem laboriosam amet labore praesentium, et repudiandae quisquam sapiente suscipit, ex aperiam voluptas quod.
        </p>
        <a class="button" href="">Read More</a>
    </div>

    <div class="categories">
        <h2>Categories</h2>
        <ul>
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 2</a></li>
            <li><a href="#">Category 3</a></li>
            <li><a href="#">Category 4</a></li>
            <li><a href="#">Category 5</a></li>
        </ul>
    </div>

    <form action="" class="my-form">
        <div class="form-group">
            <label for="name">Name: </label>
            <input type="text" name="name" id="">
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" name="email" id="">
        </div>
        <div class="form-group">
            <label for="message">Message: </label>
            <textarea name="message" id=""></textarea>
        </div>
        <input type="submit" class="button" value="Submit" name="">
    </form>
    <div class="block">
        <h3>Heading</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus nisi molestiae quia corrupti aliquid ipsa soluta deserunt quae ex ratione rerum nobis delectus, voluptates accusamus totam error. Quod nemo sapiente voluptatem quasi repudiandae
            explicabo!
        </p>
    </div>

    <div class="block">
        <h3>Heading</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus nisi molestiae quia corrupti aliquid ipsa soluta deserunt quae ex ratione rerum nobis delectus, voluptates accusamus totam error. Quod nemo sapiente voluptatem quasi repudiandae
            explicabo!
        </p>
    </div>

    <div class="block">
        <h3>Heading</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus nisi molestiae quia corrupti aliquid ipsa soluta deserunt quae ex ratione rerum nobis delectus, voluptates accusamus totam error. Quod nemo sapiente voluptatem quasi repudiandae
            explicabo!
        </p>
    </div>

    <div class="clr"></div>

    <div id="main-block">
        <h3>Heading</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus nisi molestiae quia corrupti aliquid ipsa soluta deserunt quae ex ratione rerum nobis delectus, voluptates accusamus totam error. Quod nemo sapiente voluptatem quasi repudiandae
            explicabo!
        </p>
    </div>

    <div id="sidebar">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus nisi molestiae quia corrupti aliquid ipsa soluta deserunt quae ex ratione rerum nobis delectus, voluptates accusamus totam error. Quod nemo sapiente voluptatem quasi repudiandae
            explicabo!
        </p>
    </div>

    <div class="clr"></div>

    <div class="p-box">
        <h1>Hello</h1>
        <h2>Goodbye</h2>
    </div>

    <ul class="my-list">
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
        <li>List Item</li>
    </ul>
</div>
<!-- ./conatainer -->

<a href="" class="fix-me button">Hello</a>

<div style="margin-top: 500px;"></div>